*{
	padding: 0px;
	margin: 0px;
}
ul{
	list-style-type: none;
}
.menu-lv1{
	float:left;
	position: relative;
}
.menu{
	width: 100px;
	height: 50px;
	border: 1px solid black;
	color:white;
	padding: 2px;
	line-height: 50px;
	text-align: center;
	background-color: green;
	
}
.parent-lv2{
	display: none;
	position: absolute;
	top: 50px;
    left: -1px;
}
.menu-lv1:hover .parent-lv2{
	display: block;
}
.menu{
	background-color: green;
}