*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.full{
	width: 100%
	height:1500px;
}
.container{
	width: 90%;
	margin:0 auto; /*top,bottom=0  left,right=auto*/
}
#header{
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
#magazine{
	height: 30px;
	background-color: black; 
}
#logo{
	height: 80px;
	background-color:#F19007; 
}
#menu{
	height: 50px;
	background-color:#D40C0C;
}
#truy-cap-nhanh li{
	float: left;
	padding:3px;
	text-transform: uppercase;
}
#truy-cap-nhanh a{
	color: white !important;
}
#truy-cap-nhanh .fa-star{
	color: orange;
	margin-right: 4px;
}
#search{
	position: relative;
}
#search .fa-search{
	position: absolute;
	top: 6px;
	left: 142px;
}
#search input{
	margin-top:5px;
}
#logo img{
	width: 70px;
	height: 70px;
}
#logo img{
	float:left;
}
#logo ul{
	margin:15px 20px;
}
#logo ul li{
	margin-left: 5px;
	padding:5px;
	float: left;
	line-height: 25px;
	height:25px;
	border:1px solid white;
	border-radius: 10px;
}
#logo a,#menu a,#truy-cap-nhanh{
	color: white !important;
}
#menu li{
	float: left;
	padding:15px;
}
#menu li:hover{
	background-color: red;
}
/*code từ đây*/
#grey{
	background-color: #ccc;
	height: 30px;
}
#tin-tuc{
	margin-top:10px;
	width: 70%;
}
#ads{
	margin-top:10px;
	width: 30%;
}
#tin-nong .left img{
	width: 95%;
	height: 350px;
}
#tin-nong .right img{
	width: 95%;
	height: 350px;
}
#tin-nong .left{
	width:70%;
	height: 500px;
}
#tin-nong .right{
	width: 30%;
	height: 500px;
}
#tin-lien-quan{
	margin-top: 50px
	height: 300px;
	clear: both;
}
#tin-lien-quan img{
	width: 100%;
	height: 200px;
}
.p-3{
	width:30%;
	float:left;
	margin:2px; 
}
.anhdautien{
	background: url(images/anhdautien.jpg);
	height: 170px;
	width: 20%;
	background-size: cover;
	float:left;
}
.noidungdautien a{
	padding-left: 35px;
}
.thegioi {
	color: black;
	line-height: bold;
	padding-left: 279px;
    padding-top: 12px;
}
.thegioi-noidung{
	width: 39%;
	height: 50px;
	padding-left: 279px;
    padding-top: 15px;
}

.anhthuhai{
	background: url(images/anhthuhai.jpg);
	height: 170px;
	width: 20%;
	background-size: cover;
	float:left;
}
.noidungthuhai a{
	padding-left: 35px;
}
.xahoi {
	color: black;
	line-height: bold;
	padding-left: 279px;
    padding-top: 12px;
}
.xahoi-noidung{
	width: 39%;
	height: 50px;
	padding-left: 279px;
    padding-top: 15px;
}


.anhthuba{
	background: url(images/anhthuba.jpg);
	height: 170px;
	width: 20%;
	background-size: cover;
	float:left;
}
.noidungthuba a{
	padding-left: 35px;
}
.hocduong {
	color: black;
	line-height: bold;
	padding-left: 279px;
    padding-top: 12px;
}
.hocduong-noidung{
	width: 39%;
	height: 50px;
	padding-left: 279px;
    padding-top: 15px;
}


.anhthutu{
	background: url(images/anhthutu.png);
	height: 170px;
	width: 20%;
	background-size: cover;
	float:left;
}
.noidungthutu a{
	padding-left: 35px;
}
.star {
	color: black;
	line-height: bold;
	padding-left: 279px;
    padding-top: 12px;
}
.star-noidung{
	width: 39%;
	height: 50px;
	padding-left: 279px;
    padding-top: 15px;
}
.tin-noi-bat{
	width: 63%;
	height: 700px;
	background-color:#2A2A2A;
}
.header-noi-bat{
	width: 100%;
	height: 50px;
	background-color: #21201F;
}
.Dang-chu-y{
	color: white;
	line-height: 50px;
	height: 25px;
    padding-left: 22px;
    font-size: 20px;
	font-weight: bold;
	border-left:5px #FF4D00 solid; 
}
.main-noi-bat{
	width: 100%;
	height: 700px;
}
.anh-noi-bat-1{
	background: url(images/anhnoibat1.jpg);
	height: 170px;
	width: 35%;
	background-size: cover;
	margin-left: 25px;
	float:left;
}
.noidungnoibat1 a{
	padding-left: 23px;
	color: white;
	width: 100%;
	height: 500px;
}
.icon{
	width: 60%;
	height: 500px;

}
.icon1 i{
	color: orange;
	padding-left: 26px;
	padding-top: 12px;
	

}
.icon2 i{
	color: blue;
	padding-left: 26px;
	padding-top: 12px;

}

#footer
{ 
	height: 350px;
	
}
.footer-1
{  margin-top: 30px;
	width: 30%;
	height: 300px;
	float: left;
	border-right: 1px solid black: 

}
#mess
{
	height: 24px;
	width: 180px;
	background-color: #0084ff;
	color: white;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	padding-left: 5px;
}
#mess2
{
	height: 24px;
	width: 110px;
	background-color: #fa5d37;
	color: white;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	padding-left: 10px;
}