*{
	padding: 0;
	margin :0;
}
.maunen{
	background-color:#E5C37F ;
}
.mau{
	color:#E5C37F;
}
.clear{
	clear:both;
}
/*header*/
.header{
	background-color: #F6F6F6;
}
.header>ul{
	list-style: none;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 1% 0px;
}
.header >ul>li{
	display: inline-block;
	padding-left:5%;
	font-family: 'Srisakdi', cursive;
}
.header i{
	padding-left: 5px;
    font-size: 10px;
}
.header p{
	opacity:0.2;
}

/*content*/

.content1{
	background-image: url(../images/1.jpg);
	background-size: cover;
	color:white;
}

.content1>div{
	width: 80%;
	margin:0 auto;
}
.content1-1{
	width: 20%;
	padding-top: 10%;
}
.content1-1>p{
	width: 40%;
	display: inline-block;
	padding:5px;
	text-align: center;font-size: 17px;
}
.content1-2{
	padding-top: 3%;
}
.content1-2 >h1{
	font-size: 60px;
    font-weight: 400;
}
.content1-2> p{
	padding: 20px 0;
}
.content1-3 >ul{
	list-style: none;
	
}
.content1-3 >ul >li{
	display: inline-block;
	width: 30%;
	border-top: 1px white solid;
}
.content1-3 >ul >li>p{
	float: left;
	width: 25%;
	font-size: 50px;
}
.content1-3 >ul >li>div{
	float: left;
	/*padding-left: 20px;*/
}
.content1-3 >ul >li>div>p{
	opacity:0.5;
}
.bgcontent2{
	background-color:#F6F6F6; 
}
.content2{
	background-color:#F6F6F6;
	width: 71%;
	margin:0 auto;
	padding: 3% 0px;
}
.content2-1{
	display: inline-block;
}
.bgcolor1{
	background-color: #FFFFFF;
	width: 80%;
	padding:5% 36px;
}
.bgcolor2{
	background-color: #FFFFFF;
	width: 80%;
	padding:6% 30px;
}
.bgcolor3{
	background-color: #FFFFFF;
	width: 80%;
	padding:6% 30px;
}
.dong1{
	text-align: center;
	color: #CCCDD5;

}
.dong2{
	text-align: center;
	color: #434A56;
	font-size: 22px;
}
.dong3{
	text-align: center;
	color: #DFBC7A;
}
.content2-2{
	background-color:#F6F6F6;
	width: 71%;
	margin:0 auto;
	padding: 3% 0px;
}
.content2-2 > img{
	width: 100%;
}
.bgcontent3{
	background-color:#F6F6F6; 
}
.content3-left1{
	background-color:#F6F6F6;
	width: 71%;
	margin:0 auto;
	padding: 1% 0px;
}
.content3-left1-1 >ul{
	list-style: none;
	
}
.bg-content3-left1{
	width: 30%;
	height: auto;

}
.content3-left1-1 >ul >li>p{
	float: left;
	width: 5%;
	font-size: 50px;
}
.content3-left1-1 >ul >li>div{
	float: left;
	padding-top: 8px;
	/*padding-left: 20px;*/
}
.content3-left2-1{
	background-color:#F6F6F6;
	width: 71%;
	margin:0 auto;
	padding: 3% 0px;
}
.content3-left2-1 h3{
	font-size: 30px;
}
.content3-left2-2{
	background-color:#F6F6F6;
	width: 25%;
	margin:0 14%;
	padding: 1% 0px;
	position: relative;
}
.content3-left2-2 img{
	width: 100%;
	height: 180px;
}
.picleft2-2 {
	position: relative;
}
.picleft2-2con{
	background-color: black;
	height: 50px;
	width: 18%;
	border-radius: 50%;
}
.picleft2-2con {
	position: absolute;
	top: 22px;
	left: 25px;
	z-index: 1
}
.content3-left2-3{
	width: 26%;
	height: 180px;
	background-color: black;
}
.content3-left2-3{
	position: absolute;
	top: 165px;
	width: 80%;
	background-color: #fff;
	left: 10%;
	/*height: auto;*/
}
.content3-left2-3-1{
	/*position: absolute;*/
}
.content3-left2-3-1{
	width: 80%;
	height: 180px;
	margin: 0 auto;
	background-color: #fff;
}
